*{
    font-family: sans-serif;
}

.website a{
    text-decoration: none;

}

.social-media a{
    text-decoration: none;
}

.pag2 a{
    text-decoration: none;
}

.scnd-title a{
    color: rgb(10, 150, 22);
    text-decoration: none;
}

.scnd-title{
    font-style: italic;
}

.list ul{
    list-style: circle;
    font-size: 15px;
}

.list ul li a{
    text-decoration: none;
}